<div class="flex flex-col items-center pb-4">
    <img class="w-32 h-32 mb-3 rounded-full shadow-lg" src={{member.image}} alt="Photo de {{member.name}}"/>
    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{member.name}}</h5>
    <span class="text-sm text-gray-500 dark:text-gray-400">{{member.description}}</span>
</div>