<div class="flex flex-col items-center pb-4">
    <img class="w-32 h-32 mb-3 rounded-full shadow-lg" src={{teacher.image}} alt="Photo de {{teacher.name}}"/>
    <h3 class="mb-1 text-3xl font-medium text-gray-900 dark:text-white">{{teacher.name}}</h2>
    <span class="text-sm text-gray-500 dark:text-gray-400">{{teacher.description}}</span>

    {% if teacher.website %}
        <a href={{teacher.website}} rel="external">Site web</a>
    {% endif %}
    {% if teacher.instagram %}
        <a href={{teacher.instagram}} rel="external">Instagram</a>
    {% endif %}
</div>