<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{site.title}}
      {% if title %} - {{title}}
      {% endif %}
    </title>
    <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    "/>

    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
  </head>
  <body>
    {% include "partials/_header.njk" %}
    <main class="flex flex-col px-4 py-2 max-w-5xl w-full mx-auto my-0">
      {% block main %}
        {{content | safe}}
      {% endblock %}
    </main>
    {% include "partials/_footer.njk" %}
  </body>
</html>