---
layout: base
title: 404 Page Non Trouvée
permalink: 404.html
---
<div class="flex flex-col items-center justify-items-center space-y-2 mb-8">

  <h1>Oups ! Page Non Trouvée</h1>

  <p>Par contre, vous pouvez nous trouver à coup sûr lors de notre  <a href="/spectacles" class="underline">prochain spectacle</a> ! 
      </p>

  <a href="/spectacles">
    <video class="mx-auto w-2/3 md:max-w-sm md:w-fit" autoplay muted loop>
      <source src="/poulailler-404.mp4" type="video/mp4">
      Votre navigateur ne supporte pas les balises vidéo.
      </video>
  </a>
</div>