---
permalink: /_redirects
eleventyExcludeFromCollections: true
# This file is used by Netlify to configure redirects and headers.
# For more information, see https://docs.netlify.com/routing/redirects/
---
/newsletter     {{site.newsletterUrl}}