---
layout: base
title: Spectacles
description: Prochains spectacles de la troupe de théatre d'improvisation le Poulailler de l'Impro
eleventyNavigation:
  key: Programmation
  order: 1

eleventyImport:
  collections: ["spectacle"]
---

<h1>{{ title }}</h1>

{% set prochainSpectacle = collections.spectacle | nextShow %}
{% include "components/next-show-hero.njk" %}

<section>
    <h2>À venir</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
        {% for spectacle in collections.spectacle | upcoming(collections.spectacle) %}
            {% if prochainSpectacle and spectacle.url != prochainSpectacle.url %}
                {% include "components/show.njk" %}
            {% endif %}
        {% endfor %}
    </div>
</section>
<section class="mt-8">
    <h2>Passés</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% for spectacle in collections.spectacle | past(collections.spectacle) %}
            {% include "components/old-show.njk" %}
        {% endfor %}
    </div>
</section>