---
layout: base
title: Stages
description: Prochains stages et rentrée de la troupe de théatre d'improvisation le Poulailler de l'Impro
eleventyNavigation:
  key: Stages et rentrée
  order: 2

eleventyImport:
  collections: ["stage"]
---
<section>
  <h1>Stages</h1>
  <p>Les stages sont l'occasion d'explorer pendant un ou plusieurs jours, un thème en prodonfeur.</p>
  <p>Encadré par un profesionnel, c'est une occasion unique de développer sa créativité, spontanéité et confiance en soi, tout en s'amusant dans une ambiance conviviale et bienveillante.</p>

  <h2>Prochains stages</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {% for stage in collections.stage | upcoming(collections.stage) %}
      {% include "components/stage.njk" %}
    {% endfor %}
  </div>
</section>

<section>
  <h1>Rentrée</h1>
  <p>La rentrée est un moment privilégié pour se retrouver après la pause estivale et reprendre ensemble le rythme des cours.</p>
  <p>C'est aussi une belle opportunité d'accueillir chaleureusement les nouveaux membres, qui pourront découvrir notre univers à travers des ateliers d'essai conviviaux et ouverts à tous.</p>
  <p>Que vous soyez curieux ou passionnés, ces moments d'échange et de découverte sont l'occasion parfaite pour vous plonger dans l'improvisation théâtrale et rejoindre notre communauté !</p>
  <br/>
  <p>N'hésitez pas à nous contacter si vous voulez nous rejoindre !</p>
</section>